<header>
    <nav class="menubar">
        <ul>
            <li>
                <a href="{{ path('app_home') }}">
                    <div class="logo">
                        <img src="{{ asset('img/novatech_logo.png')}}" alt="NovaTech logo">
                    </div>
                </a>
            </li>
            <li>
                <a href="{{ path('app_services') }}">Services</a>
            </li>
            <li>
                <a href="{{ path('app_about') }}">A propos</a>
            </li>
            <li>
                <a href="{{ path('app_contact') }}">Contact</a>
            </li>
            <li>
                <a href="{{ path('crud_services') }}">Gestion des services</a>
            </li>
            </li>
        </ul>
    </nav>
</header>