{% extends 'base.html.twig' %}

{% block title %}Hello ServicesController!
{% endblock %}

{% block body %}
	{% include 'partials/_header.html.twig' %}

	<main>
		<div class="main-wrapper">
			<h1>Gestion des services</h1>

			<a class="button" href="{{ path('new_services') }}">Ajouter un service</a>

			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Titre</th>
						<th scope="col">Description</th>
						<th scope="col">Date création</th>
						<th scope="col">Actif</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for service in services %}
						<tr class="table-active">
							<th scope="row">{{ service.name }}</th>
							<td>{{ service.description }}</td>
							<td>{{ service.createdAt|date("m/d/Y", "Europe/Paris") }}</td>
							<td>{{ service.isActive ? 'X' : '' }}</td>
							<td>
								<a href="{{ path('edit_services', {'id':service.id}) }}">Editer</a>
								<a href="{{ path('del_services', {'id':service.id}) }}" onclick="return confirm('Supprimer cet élément ?');">Supprimer</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>
	</main>

	{% include 'partials/_footer.html.twig' %}

{% endblock %}
